{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header" style="text-shadow: 2px 2px 5px #005bea;">SPÉCIALITÉ N.S.I</h5>
    <div class="card-body">
        <p class="card-text">
            L’objectif de cet enseignement, non professionnalisant, est l’appropriation des concepts et des méthodes qui 
            fondent l’informatique, dans ses dimensions scientifiques et techniques</p>
        <a href="#"
           class="btn btn-danger">voir plus!</a>
    </div>
</div>
</div>

{% endblock sidebar %}